.wy-nav-content{
    max-width: 100vw !important
}
.wy-side-nav-search{
    background-color: #d9d9d9 !important;
}

.wy-side-nav-search .wy-dropdown>a img.logo, .wy-side-nav-search>a img.logo {
    width: 70px;
}

.wy-side-nav-search .wy-dropdown>a img.logo, .wy-side-nav-search>a::after {
    content: "OptArrow"; 
    font-size: 20px;
    font-weight: bold;
    /* margin-left: 8px; */
    color: #404040;
}

.rst-content img {
    margin-bottom: 10px;
}